<table id="table" data-toggle="table" data-pagination="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id">ID</th>
            <th data-field="name" data-editable="true">Task</th>
            <th data-field="email" data-editable="true">Email</th>
            <th data-field="phone" data-editable="true">Phone</th>
            <th data-field="complete">Completed</th>
            <th data-field="task" data-editable="true">Task</th>
            <th data-field="date" data-editable="true">Date</th>
            <th data-field="price" data-editable="true">Price</th>
            <th data-field="action">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>1</td>
            <td>Web Development</td>
            <td>admin@uttara.com</td>
            <td>+8801962067309</td>
            <td class="datatable-ct">
                <span class="pie">1/6</span>
            </td>
            <td>10%</td>
            <td>Jul 14, 2017</td>
            <td>$5455</td>
            <td>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Edit.png" width="30" height="30" title="Edit" />
                </a>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Delete.png" width="30" height="30" title="Delete" />
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>1</td>
            <td>Web Development</td>
            <td>admin@uttara.com</td>
            <td>+8801962067309</td>
            <td class="datatable-ct">
                <span class="pie">1/6</span>
            </td>
            <td>10%</td>
            <td>Jul 14, 2017</td>
            <td>$5455</td>
            <td>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Edit.png" width="30" height="30" title="Edit" />
                </a>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Delete.png" width="30" height="30" title="Delete" />
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>1</td>
            <td>Web Development</td>
            <td>admin@uttara.com</td>
            <td>+8801962067309</td>
            <td class="datatable-ct">
                <span class="pie">1/6</span>
            </td>
            <td>10%</td>
            <td>Jul 14, 2017</td>
            <td>$5455</td>
            <td>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Edit.png" width="30" height="30" title="Edit" />
                </a>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Delete.png" width="30" height="30" title="Delete" />
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>1</td>
            <td>Web Development</td>
            <td>admin@uttara.com</td>
            <td>+8801962067309</td>
            <td class="datatable-ct">
                <span class="pie">1/6</span>
            </td>
            <td>10%</td>
            <td>Jul 14, 2017</td>
            <td>$5455</td>
            <td>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Edit.png" width="30" height="30" title="Edit" />
                </a>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Delete.png" width="30" height="30" title="Delete" />
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>1</td>
            <td>Web Development</td>
            <td>admin@uttara.com</td>
            <td>+8801962067309</td>
            <td class="datatable-ct">
                <span class="pie">1/6</span>
            </td>
            <td>10%</td>
            <td>Jul 14, 2017</td>
            <td>$5455</td>
            <td>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Edit.png" width="30" height="30" title="Edit" />
                </a>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Delete.png" width="30" height="30" title="Delete" />
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>1</td>
            <td>Web Development</td>
            <td>admin@uttara.com</td>
            <td>+8801962067309</td>
            <td class="datatable-ct">
                <span class="pie">1/6</span>
            </td>
            <td>10%</td>
            <td>Jul 14, 2017</td>
            <td>$5455</td>
            <td>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Edit.png" width="30" height="30" title="Edit" />
                </a>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Delete.png" width="30" height="30" title="Delete" />
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>1</td>
            <td>Web Development</td>
            <td>admin@uttara.com</td>
            <td>+8801962067309</td>
            <td class="datatable-ct">
                <span class="pie">1/6</span>
            </td>
            <td>10%</td>
            <td>Jul 14, 2017</td>
            <td>$5455</td>
            <td>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Edit.png" width="30" height="30" title="Edit" />
                </a>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Delete.png" width="30" height="30" title="Delete" />
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>1</td>
            <td>Web Development</td>
            <td>admin@uttara.com</td>
            <td>+8801962067309</td>
            <td class="datatable-ct">
                <span class="pie">1/6</span>
            </td>
            <td>10%</td>
            <td>Jul 14, 2017</td>
            <td>$5455</td>
            <td>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Edit.png" width="30" height="30" title="Edit" />
                </a>
                <a href="" style="text-decoration:none;">
                    <img src="~/Logo/Delete.png" width="30" height="30" title="Delete" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
