<hr style="color: #0d6efd" />
<footer>
    <p>&copy; @DateTime.Now.Year - ERP.All Rights Reserved. | Powered by: Affinity Infosoft | <span style="color:blue">Version - 2.0</span> |<span class="link-danger">|User - </span><span class="link-danger">@ViewBag.FirstName|</span></p>
</footer>